.title {
  display: flex;
  justify-content: space-evenly;
}

.game {
  display: flex;
  justify-content: center;
}

#canvas {
  display: flex;
  justify-content: center;
}

.instructions {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.fa-solid,
.fa-arrow-right {
  font-size: 24px;
}

.fa-solid,
.fa-arrow-left {
  font-size: 24px;
}
