/* @font-face {
  font-family: titleFont;
  src: url("assets/fonts/Atari_Classic.ttf") format("ttf");
}

@font-face {
  font-family: bodyFont;
  src: url("assets/fonts/Atari_Classic_Smooth.ttf") format("ttf");
} */

.title {
  display: flex;
  justify-content: space-evenly;
}

.game {
  display: flex;
  justify-content: center;
}

#canvas {
  display: flex;
  justify-content: center;
}

.instructions {
  display: flex;
  justify-content: center;
  flex-direction: column;
  font-family: bodyFont;
  font-size: 15px;
}

.fa-solid,
.fa-arrow-right {
  font-size: 24px;
}

.fa-solid,
.fa-arrow-left {
  font-size: 24px;
}
